/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}


/* Custom Font */
@font-face {
    font-family: 'blankaregular';
    src: url('fonts/blanka-regular-webfont.woff2') format('woff2'),
         url('fonts/blanka-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Main CSS */

body {
  font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  display: flex;
  min-height: 100vh;
  background-color: #fafafa;
}

.sidebar {
  flex: 1;
  background-image: url("./assets/sidebar_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.right {
  flex: 2;
}

.text {
  --sidebar-asset-size: clamp(1rem, 2rem + 1.5vw, 4.5rem);
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
  background-color: #1211118e;
  margin-top: 30%;
}

.text img {
  width: var(--sidebar-asset-size);
}

.text span {
  color: white;
  font-family: blankaregular, Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  font-size: var(--sidebar-asset-size);
}

/* Right Side Styling */
.right {
  display: flex;
  flex-flow: column;
}

/* Aligning text and form elements at relevant spacing */
.top-text, form .form-box, form > .form-row, .bottom-text {
  padding-left: 5%;
  padding-right: 15%;
}


/* TOP TEXT STYLING */
.top-text {
  display: flex;
  flex-flow: column;
  padding-top: 4%;
  padding-bottom: 3%;
}

.top-text p {
  font-weight: bold;
  font-size: clamp(1rem, 0.75rem + 1.5vw, 1.5rem);
  max-inline-size: 50ch;
}

/* Spacing of last line in top-text */
.top-text p:nth-child(3) {
  margin-top: 3%;
}


/* FORM STYLING */
form {
  display: flex;
  flex-flow: column wrap;
  padding-top: 2%;
  gap: 1rem;
}

form .form-box {
  display: flex;
  flex-flow: column;
  gap: 1.3rem;
  box-shadow: 0px 5px 5px -5px #9E9E9E;
  background-color: white;
}

/* Form element positioning and font-sizing */
.form-text {
  font-weight: bold;
  font-size: 1.3rem;
}
form .form-row {
  display: flex;
  gap: 2rem;
}

.form-row div {
  display: flex;
  flex-flow: column;
}

.form-row label {
  font-size: 0.8rem;
}

/* Input Styles */
.form-row input {
  width: 30ch;
  border: 1px solid #E5E7EB;
  margin-left: 1%;
}

.form-row input:focus-visible {
  border: 1.3px solid rgb(86, 86, 252);
  outline: none;
  box-shadow: 1px 1px 4px 0px grey;
}

.form-row input[type="password"]:invalid {
  border: 1.3px solid red;
}

.form-row input {
  border-radius: 4px;
}

.form-box .form-row:last-child {
  padding-bottom: 5%;
}

/* Button Style */
button[type="submit"] {
  background-color: #9A7B55;
  color: whitesmoke;
  border: none;
  border-radius: 4px;
  padding: 0.3rem 1.5rem;
  font-weight: bold;
}

/* Bottom Text */
.bottom-text {
  margin-top: 3%;
  font-weight: 500;
}

.bottom-text a {
  color: #9A7B55;
  font-weight: bold;
  text-decoration: none;
}