/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}


/* Custom Font */
@font-face {
    font-family: 'blankaregular';
    src: url('fonts/blanka-regular-webfont.woff2') format('woff2'),
         url('fonts/blanka-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Main CSS */

body {
  font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  display: flex;
  height: 100vh;
}

.sidebar {
  flex: 1;
  background-image: url("./assets/sidebar_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-form {
  flex: 2;
}

.text {
  --sidebar-asset-size: clamp(1rem, 2rem + 1.5vw, 4.5rem);
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
  background-color: #1211118e;
  margin-top: 30%;
}

.text img {
  width: var(--sidebar-asset-size);
}

.text span {
  color: white;
  font-family: blankaregular, Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  font-size: var(--sidebar-asset-size);
}

.login-form {
  display: flex;
  flex-flow: column;
}

.top-text {
  display: flex;
  flex-flow: column;
  padding-top: 10%;
  padding-bottom: 6%;
  background-color: #fafafa;
}

.top-text p {
  font-weight: bold;
  font-size: clamp(1rem, 0.75rem + 1.5vw, 1.5rem);
  max-inline-size: 50ch;
}

.top-text p:nth-child(3) {
  margin-top: 3%;
}

.top-text, form {
  padding-left: 5%;
  padding-right: 15%;
}

.form-text {
  font-weight: bold;
  font-size: 1.3rem;
}